SampleApp/packages
SampleApp/packages/
SampleApp/SampleApp.Bll/bin
SampleApp/SampleApp.Bll/bin/
SampleApp/SampleApp.Bll/obj
SampleApp/SampleApp.Bll/obj/
SampleApp/SampleApp.Core/bin
SampleApp/SampleApp.Core/bin/
SampleApp/SampleApp.Core/obj
SampleApp/SampleApp.Core/obj/
SampleApp/SampleApp.DAL/bin
SampleApp/SampleApp.DAL/bin/
SampleApp/SampleApp.DAL/obj
SampleApp/SampleApp.DAL/obj/
SampleApp/SampleApp.Web/bin
SampleApp/SampleApp.Web/bin/
SampleApp/SampleApp.Web/obj
SampleApp/SampleApp.Web/obj/
