<div class="container">
    <h1 ng-hide="isAdd">Update Provider</h1>
    <h1 ng-show="isAdd">Add Provider</h1>
    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group row">
            <label class="col-sm-2 control-label" for="inputFirstName">Name:</label>
            <div class="controls col-sm-10">
                <input type="text" class="form-control" id="inputFirstName" ng-model="ProviderDetail.Name" />
            </div>
        </div>

        <div class="span6">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th style="min-width: 80px;">Id</th>
                        <th style="min-width: 80px;">Number</th>
                        <th style="min-width: 80px;">Code</th>
                       

                        <th style="width:20px;"> </th>
                        <th style="width:20px;"> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="ProviderDetail.Contracts.length > 0" ng-repeat="contract in ProviderDetail.Contracts">
                        <td>{{ contract.Id }} </td>
                        <td>{{ contract.Number }}</td>
                        <td>{{ contract.Code }} </td>



                        <td><a ng-click="addEditContract(contract)" class="btn btn-small btn-primary">Edit</a></td>
                        <td><a ng-click="deleteContract(contract.Id)" class="btn btn-small btn-danger">Delete</a></td>
                    </tr>
                    <tr ng-if="ProviderDetail.Contracts.length == 0">
                        <td>No Contract Found.</td>
                    </tr>
                </tbody>
            </table>
            <a ng-click="addEditContract()" class="btn btn-small btn-primary">New Contract</a>
            <div ng-show="isContractShow">

                <div class="control-group row">
                    <label class="col-sm-2 control-label" for="inputFirstName">Id:</label>
                    <div class="controls col-sm-10">
                        <input type="text" class="form-control" id="inputFirstName" ng-model="ContractDetail.Id" />
                    </div>
                </div>

                <div class="control-group row">
                    <label class="col-sm-2 control-label" for="inputFirstName">Number:</label>
                    <div class="controls col-sm-10">
                        <input type="text" class="form-control" id="inputFirstName" ng-model="ContractDetail.Number" />
                    </div>
                </div>

                <div class="control-group row">
                    <label class="col-sm-2 control-label" for="inputFirstName">Code:</label>
                    <div class="controls col-sm-10">
                        <input type="text" class="form-control" id="inputFirstName" ng-model="ContractDetail.Code" />
                    </div>
                </div>

                <a ng-click="Cancel()" class="btn btn-small btn-primary">Cancel</a>
                <a ng-click="addUpdateContract(ContractDetail)" class="btn btn-small btn-primary">SubmitContract</a>
                


            </div>
        </div>


      <div class="control-group row">
            <div class="controls">
                <a ng-click="goToHome()" class="btn btn-small btn-primary">Cancel</a>
                <a ng-click="updateProvider(ProviderDetail)" ng-hide="isAdd" class="btn btn-small btn-primary">Submit</a>
                <a ng-click="createNewProvider(ProviderDetail)" ng-show="isAdd" class="btn btn-small btn-primary">Submit</a>
            </div>
        </div>
    </form>


</div>